.rowteam > div {
  width: 20%;
  float:left;
  margin-right: 3%;
  margin-left: 2%;
}

.rowteam > div > img {
  width: 100%;
}

.rowtop {
  display: inline-block;
  margin: 0  auto;
  text-align: center;
  width: 100%;
}

.row {
  width: 85%;
  margin: 0 auto;
  padding: 2%;
}



body {
  background-color: #E4F1FE;
}

.rowteam {
  position:relative;
  float:left;
  width: 100%;
  margin-bottom: 3%;
  margin-top: 2%;
  background-color: #A2DED0;
  padding: 3%;
}

h3 {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.container-fluid {
  padding: 0;
}

 p {
   font-size: 14px;
 }

.roweven {
  background-color: #D2D7D3;
  display: inline-block;
  width: 85%;
  margin-left: 7.5%;
  padding: 2%;

}

h2 {
  font-size: 19px
}

.roweven > img {
  width: 30%;
  float: left;
}

.roweven > p, h4 {
  width: 60%;
  float: left;
  margin-left: 3%;
}

.roweven > h4 {
  margin-top: 7%;
}
